@charset "utf-8!;";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://use.typekit.net/ovh1rje.css");

/*resolucion de pantalla: 1360x768*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	cursor:url(img/cursorpersonalizado.svg),auto;
}

body {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-family: "itim";
	box-sizing: border-box;
	
}

header {
	width: 100%;
	
}

/* hasta aca ok*/

.botonera {
	align-items: center;
	justify-content: space-around;
	display: flex;
	padding: 10px;
}


.botonera a {
	color: #ffffff;
	font-family: "flower-power", sans-serif;
	font-size: 18px;
	transition: 0.2s;
	border-radius: 9px;
	padding: 10px;
}


.botonera a:hover {
	color: #2d0d3f;
	background-color: #ffffff;
	border-radius: 15px;
}


/*hasta aca header*/

/*desde aca main*/

section [id] {
	width: 100px;
	height: 100px;
}

#presentacion {
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction:column;
	justify-content: center;
	width: 100%;
	animation: cambiodecolor 3s infinite;
}

h1 {
	font-family: "flower-power", sans-serif;
	color: #2d0d3f;
	font-size: 90px;
	text-align: center;
}


@keyframes cambiodecolor {
	0% {
    background-color: #545FF5;
	
	}
	
	50% {
		background-color: #7f5ce1;
	}
	
	100% {
		background-color: #aa98ce;
	}
	}
	
/*hasta aca ok*/


#acercademi {
	display:flex;
	padding: 50px;
	gap:70px;
	align-items:center ;
	max-width: 1100px;

}

footer {
	background-color: #2d0d3f;
	padding: 20px;
	font-size: 10px;
}

h3 {
	font-size: 40px;
	text-align: center;
}


#acercademi img {
		width: 400px;
		border-radius: 50px;
		margin-left: 100px;
		border: 3px solid #774df4;
		
	}
	

	.ojo {
		display:flex;
		justify-content: center;
	}
	
	.ojo img {
		width: 100px;
		height: 100px;
		animation: spin 3s linear infinite;

		
	}
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	#educación {
		display: flex;
	column-gap: 20px; 
	padding: 30px;
	justify-content:space-evenly;
	background-color: #2d0d3f;
	font-size: 20px;

}

	.habilidades{
		display: flex;
		Flex-direction: column;
		gap:10px;
		justify-content:baseline;
		background-color: #2d0d3f;
		font-size: 20px;
		max-width: 400px;
		
	}

	.habilidades h4{
		margin-top:20px;
	}
	

#proyectosdestacados {
background-color: #774df4;
padding:30px;
display:flex;
flex-direction: column;
align-items: center;
gap:50px;
}


#proyectosdestacados h2{
	font-size: 50px;
}
.proyectos {
	gap:50px;
	display:flex;
	justify-content: space-around;
	
	
}


.aside-redes {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #545FF5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 70px;
	border-radius: 50px;
}

.aside-redes a {
	margin-top: 5px;
}

.icon {
	width: 50px;
	height: 50px;
}


.cajatexto {
display:flex;
align-items:flex-start;
flex-direction: column;

}

